# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

node_modules/
.vscode/
.expo/
npm-debug.*
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
android/app/src/main/res/drawable-hdpi/node_modules_reactnavigation_src_views_assets_backicon.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativerouterflux_images_back_chevron.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnativerouterflux_images_menu_burger.png
android/app/src/main/res/drawable-mdpi/node_modules_reactnavigation_src_views_assets_backicon.png
android/app/src/main/res/drawable-mdpi/src_resouces_icons_back.png
android/app/src/main/res/drawable-mdpi/src_resouces_icons_forward.png
android/app/src/main/res/drawable-xhdpi/node_modules_reactnavigation_src_views_assets_backicon.png
android/app/src/main/res/drawable-xhdpi/src_resouces_icons_back.png
android/app/src/main/res/drawable-xhdpi/src_resouces_icons_forward.png
android/app/src/main/res/drawable-xxhdpi/node_modules_reactnavigation_src_views_assets_backicon.png
android/app/src/main/res/drawable-xxhdpi/src_resouces_icons_back.png
android/app/src/main/res/drawable-xxhdpi/src_resouces_icons_forward.png
android/app/src/main/res/drawable-xxxhdpi/node_modules_reactnavigation_src_views_assets_backicon.png
ios-build/archive/novelsapp.xcarchive/Info.plist
ios-build/archive/novelsapp.xcarchive/BCSymbolMaps/51D23EA0-AD55-3AD5-B5AD-D9075288FE19.bcsymbolmap
ios-build/archive/novelsapp.xcarchive/BCSymbolMaps/60F44931-B0F7-32F7-AB93-4B1B1523FB6A.bcsymbolmap
ios-build/archive/novelsapp.xcarchive/BCSymbolMaps/8A319F05-CBB0-3A2D-A56A-7882A193AB29.bcsymbolmap
ios-build/archive/novelsapp.xcarchive/BCSymbolMaps/DACCFA13-5BD7-3462-BFE2-D77A643B8647.bcsymbolmap
ios-build/archive/novelsapp.xcarchive/BCSymbolMaps/DD0ABF1B-1CD8-3146-9484-3A89404AA20B.bcsymbolmap
ios-build/archive/novelsapp.xcarchive/BCSymbolMaps/EF043CB5-8FEC-3111-AD5C-6774C9929CF1.bcsymbolmap
ios-build/archive/novelsapp.xcarchive/dSYMs/novelsapp.app.dSYM/Contents/Info.plist
ios-build/archive/novelsapp.xcarchive/dSYMs/novelsapp.app.dSYM/Contents/Resources/DWARF/novelsapp
ios-build/archive/novelsapp.xcarchive/dSYMs/QBImagePicker.framework.dSYM/Contents/Info.plist
ios-build/archive/novelsapp.xcarchive/dSYMs/QBImagePicker.framework.dSYM/Contents/Resources/DWARF/QBImagePicker
ios-build/archive/novelsapp.xcarchive/dSYMs/RSKImageCropper.framework.dSYM/Contents/Info.plist
ios-build/archive/novelsapp.xcarchive/dSYMs/RSKImageCropper.framework.dSYM/Contents/Resources/DWARF/RSKImageCropper
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/archived-expanded-entitlements.xcent
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/embedded.mobileprovision
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Entypo.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/EvilIcons.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Feather.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/FontAwesome.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Foundation.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Info.plist
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Ionicons.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/main.jsbundle
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/main.jsbundle.meta
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/MaterialCommunityIcons.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/MaterialIcons.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/novelsapp
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Octicons.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/PkgInfo
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Roboto.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Roboto_medium.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/rubicon-icon-font.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/SimpleLineIcons.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Zocial.ttf
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/_CodeSignature/CodeResources
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/assets/src/resouces/icons/back.png
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/assets/src/resouces/icons/back@2x.png
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/assets/src/resouces/icons/back@3x.png
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/assets/src/resouces/icons/forward.png
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/assets/src/resouces/icons/forward@2x.png
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/assets/src/resouces/icons/forward@3x.png
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Base.lproj/LaunchScreen.nib
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/Info.plist
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/QBImagePicker
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/_CodeSignature/CodeResources
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/de.lproj/QBImagePicker.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/en.lproj/QBImagePicker.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/es.lproj/QBImagePicker.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/fr.lproj/QBImagePicker.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/ja.lproj/QBImagePicker.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/pl.lproj/QBImagePicker.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/QBImagePicker.storyboardc/Info.plist
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/QBImagePicker.storyboardc/QBAlbumsNavigationController.nib
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/QBImagePicker.storyboardc/QBAlbumsViewController.nib
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/QBImagePicker.storyboardc/QBAssetsViewController.nib
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/QBImagePicker.storyboardc/QiH-NZ-ZGN-view-sD2-zK-ryo.nib
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/QBImagePicker.storyboardc/QL5-wR-LYt-view-66K-TS-Yoc.nib
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/QBImagePicker.framework/zh-Hans.lproj/QBImagePicker.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/Info.plist
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropper
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/_CodeSignature/CodeResources
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/ar.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/ca.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/cs.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/da.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/de.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/el.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/en.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/es.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/fi.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/fr.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/he.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/hi.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/hr.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/hu.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/id.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/it.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/ja.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/ms.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/nb.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/nl.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/pl.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/pt_BR.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/pt_PT.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/ro.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/ru.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/sl.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/sv.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/tr.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/uk.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/vi.lproj/RSKImageCropper.strings
ios-build/archive/novelsapp.xcarchive/Products/Applications/novelsapp.app/Frameworks/RSKImageCropper.framework/RSKImageCropperStrings.bundle/zh-Hans.lproj/RSKImageCropper.strings
